### Load the Data

In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sqlite3
import matplotlib.gridspec as gridspec
from numpy import random
import scipy.stats as scipy

from sklearn.metrics import accuracy_score

with sqlite3.connect('./Data/database.sqlite') as con:
    countries = pd.read_sql_query("SELECT * from Country", con)
    matches = pd.read_sql_query("SELECT * from Match", con)
    leagues = pd.read_sql_query("SELECT * from League", con)
    teams = pd.read_sql_query("SELECT * from Team", con)
    tempmatch = pd.read_sql_query("SELECT * from Match", con)

In [2]:
# Subsetting the counties of interest
main_countries = ['England', 'France', 'Italy', 'Germany', 'Spain']
countries = countries[countries.name.isin(main_countries)]
leagues = countries.merge(leagues, on='id',suffixes=('','_y'))
seasons = matches.season.unique()
leagues

      id     name  country_id                  name_y
0   1729  England        1729  England Premier League
1   4769   France        4769          France Ligue 1
2   7809  Germany        7809   Germany 1. Bundesliga
3  10257    Italy       10257           Italy Serie A
4  21518    Spain       21518         Spain LIGA BBVA

In [3]:
def res(row):
    if row['home_team_goal'] == row['away_team_goal']:
        val = 0
    elif row['home_team_goal'] > row['away_team_goal']:
        val = 1
    else:
        val = -1
    return val

In [4]:
# Merge the leagues with corresponding matches
req_matches = matches[matches.league_id.isin(leagues['id'])]
req_matches = req_matches[['id', 'league_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal','away_team_goal', 'season']]
req_matches["total_goals"] = req_matches['home_team_goal'] + req_matches['away_team_goal']
req_matches["result"] = req_matches.apply(res, axis = 1)
req_matches.dropna(inplace=True)
req_matches.head()

,id,league_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,season,total_goals,result
1728,1729,1729,10260,10261,1,1,2008/2009,2,0
1729,1730,1729,9825,8659,1,0,2008/2009,1,1
1730,1731,1729,8472,8650,0,1,2008/2009,1,-1
1731,1732,1729,8654,8528,2,1,2008/2009,3,1
1732,1733,1729,10252,8456,4,2,2008/2009,6,1

In [5]:
# Separating the leagues for further analysis
new_matches = pd.merge(req_matches, leagues, left_on='league_id', right_on='id')
new_matches = new_matches.drop(['id_x', 'id_y', 'country_id'], axis = 1)
english = new_matches[new_matches.name == "England"]
french = new_matches[new_matches.name == "France"]
italian = new_matches[new_matches.name == "Italy"]
spanish = new_matches[new_matches.name == "Spain"]
german = new_matches[new_matches.name == "Germany"]

# sum_goals = new_group_matches.home_team_goal.sum()
e = english.groupby('season')
f = french.groupby('season')
i = italian.groupby('season')
s = spanish.groupby('season')
g = german.groupby('season')
seasons

array(['2008/2009', '2009/2010', '2010/2011', '2011/2012', '2012/2013',
       '2013/2014', '2014/2015', '2015/2016'], dtype=object)

### How many goals does league score every season?

We start by investigating the trends in number of goals scored each season across leagues

In [ ]:
# Plotting total goals scored each season